* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  background: #1f2937;
  padding: 24px;
}

.header-container {
  margin: 0 auto;
  display: flex;
  flex: auto;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

ul {
  gap: 12px;
  display: flex;
  justify-content: flex-end;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #f9faf8;
}

.hero-section {
  display: flex;
  flex: auto;
  flex-direction: row;
  gap: 48px;
  align-items: center;
  justify-content: center;
  padding: 42px;
  background: #1f2937;
}

.left-hero {
  width: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 24px;
}

img {
  width: 400px;
  height: 250px;
  border-radius: 5%;
}

.primary-heading {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 800;
}

.primary-subheading {
  font-size: 18px;
  color: #e5e7eb;
}

.btn-primary {
  border: 1px solid #3882f6;
  padding: 8px 8px;
  border-radius: 8px;
  width: 150px;
  background-color: #3882f6;
  color: white;
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px;
  gap: 48px;
}

.secondary-heading {
  margin: 24px auto;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.portraits {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.portrait-1,
.portrait-2,
.portrait-3,
.portrait-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 150px;
}

.portrait-1 img,
.portrait-2 img,
.portrait-3 img,
.portrait-4 img {
  width: 130px;
  height: 130px;
  border: 2px solid #3882f6;
  border-radius: 10%;
}

.text {
  text-align: center;
  font-size: 14px;
  color: #1f2937;
}

.figure-container {
  background: #e5e7eb;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial {
  display: flex;
  width: 700px;
  justify-content: center;
  align-items: center;
  color: #1f2937;
}

.testimonial-review {
  line-height: 1.5;
  font-size: 24px;
  width: 650px;
  font-weight: lighter;
}

figcaption {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 4px;
  margin-top: 10px;
  margin-right: 20px;
  font-size: 22px;
  font-weight: bold;
}

.cta-section {
  padding: 70px;
}

.cta-container {
  padding: 48px;
  background-color: #3882f6;
  width: 800px;
  border-radius: 10px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-evenly;
}

.cta-left {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  margin-right: 14px;
  gap: 6px;
}

.btn-secondary {
  border: 1px solid white;
  padding: 8px 8px;
  border-radius: 8px;
  width: 150px;
  background-color: #3882f6;
  color: white;
}

.footer {
  background-color: #1f2937;
  padding: 24px;
}

.footer-text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f9faf8;
  font-size: 12px;
}
